* {
    margin: 0;
    padding: 0;
}

body {
    background: url(images/background-5.jpeg);
    background-size: cover;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%; 
  }

header h1{
    text-align: center;
    font-size: 5rem;
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 15px 10px #232931;
    color: whitesmoke;
  }

  h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 15px;
    font-family: 'Lobster', cursive;
    text-shadow: 3px 0 #8a2be2;
    color: rgb(255, 255, 255);
}
.loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pl1 {
    display: block;
    width: 10em;
    height: 10em;
  }
  
  .pl1__g,
    .pl1__rect {
    animation: pl1-a 1.5s cubic-bezier(0.65,0,0.35,1) infinite;
  }
  
  .pl1__g {
    transform-origin: 64px 64px;
  }
  
  .pl1__rect:first-child {
    animation-name: pl1-b;
  }
  
  .pl1__rect:nth-child(2) {
    animation-name: pl1-c;
  }
  
  @keyframes pl1-a {
    from {
      transform: rotate(0);
    }
  
    80%,
        to {
      animation-timing-function: steps(1,start);
      transform: rotate(90deg);
    }
  }
  
  @keyframes pl1-b {
    from {
      animation-timing-function: cubic-bezier(0.33,0,0.67,0);
      width: 40px;
      height: 40px;
    }
  
    20% {
      animation-timing-function: steps(1,start);
      width: 40px;
      height: 0;
    }
  
    60% {
      animation-timing-function: cubic-bezier(0.65,0,0.35,1);
      width: 0;
      height: 40px;
    }
  
    80%,
        to {
      width: 40px;
      height: 40px;
    }
  }
  
  @keyframes pl1-c {
    from {
      animation-timing-function: cubic-bezier(0.33,0,0.67,0);
      width: 40px;
      height: 40px;
      transform: translate(0,48px);
    }
  
    20% {
      animation-timing-function: cubic-bezier(0.33,1,0.67,1);
      width: 40px;
      height: 88px;
      transform: translate(0,0);
    }
  
    40% {
      animation-timing-function: cubic-bezier(0.33,0,0.67,0);
      width: 40px;
      height: 40px;
      transform: translate(0,0);
    }
  
    60% {
      animation-timing-function: cubic-bezier(0.33,1,0.67,1);
      width: 88px;
      height: 40px;
      transform: translate(0,0);
    }
  
    80%,
        to {
      width: 40px;
      height: 40px;
      transform: translate(48px,0);
    }
  }

#countdownTimer{
    font-size: 25px;
    color: #fff;
    text-shadow: 3px 0 #8a2be2;
    margin-top: 22%;
    text-align: center;
    font-family: 'Lobster', cursive;
}

footer {
color: rgb(255, 255, 255);
text-align: center;
font-family: 'Indie Flower', cursive;
position: relative;
margin-top: 7.6%;
}

/* Default styles */
/* Add your default styles here */

/* Tablet styles (768px and up) */
@media only screen and (min-width: 768px) {
  /* Add tablet-specific styles here */
}

/* Desktop styles (992px and up) */
@media only screen and (min-width: 992px) {
  /* Add desktop-specific styles here */
}

/* Large desktop styles (1200px and up) */
@media only screen and (min-width: 1200px) {
  /* Add large desktop-specific styles here */
}
