/* RULES PAGE CSS */
.rules-container{
    background: url(images/container-1.jpeg);
    background-size: cover;
    overflow: hidden;
    position: absolute;
    width: 420px;
    height: 330px;
    position: absolute;
    padding: 1rem 3rem;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 20px 20px 10px 10px rgba(0, 0, 0, 0.5);
  }
  
  h3 {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 15px;
    font-family: 'Lobster', cursive;
    text-shadow: 3px 0 #8a2be2;
    color: rgb(255, 255, 255);
  }
  
  #rules{
    font-size: 1rem;
    margin-bottom: 15px;
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255);
  }
  
  .rules-button-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 80%;
  }
  
  